<% if signed_in? %>
    <div class="row">
      <aside class="col-xs-5 col-md-4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-xs-6 col-md-7">
        <div class="feed">
          <h3>News Feed</h3>
        </div>
        <%= render 'shared/feed' %>
      </div>
      </aside>
    </div>

    <!-- /.aside -->
    <section id="content">
      <section class="vbox">
        <section class="scrollable">
          <section class="hbox stretch">
            <aside class="aside-lg bg-light lter b-r">
              <section class="vbox">
                <section class="scrollable">
                  <div class="wrapper">
                    <section class="panel no-border bg-primary lt">
                      <div class="panel-body">
                        <div class="row m-t-xl">
                          <div class="col-xs-3 text-right padder-v"> <a href="#" class="btn btn-primary btn-icon btn-rounded m-t-xl"><i class="i i-mail2"></i></a> </div>
                          <div class="col-xs-6 text-center">
                            <div class="inline">
                              <div class="easypiechart" data-percent="75" data-line-width="8" data-bar-color="#fff" data-track-Color="#0d5e92" data-scale-Color="false" data-size="140" data-line-cap='butt' data-animate="1000">
                                <div class="thumb-lg"> <img src="images/a5.jpg" class="img-circle"> </div>
                              </div>
                              <div class="h4 m-t m-b-xs font-bold text-lt">John.Smith</div>
                              <small class="text-muted m-b">Art director</small> </div>
                          </div>
                          <div class="col-xs-3 padder-v"> <a href="#" class="btn btn-primary btn-icon btn-rounded m-t-xl" data-toggle="class:btn-danger"> <i class="i i-phone text"></i> <i class="i i-phone2 text-active"></i> </a> </div>
                        </div>
                        <div class="wrapper m-t-xl m-b">
                          <div class="row m-b">
                            <div class="col-xs-6 text-right"> <small>Cell Phone</small>
                              <div class="text-lt font-bold">1243 0303 0333</div>
                            </div>
                            <div class="col-xs-6"> <small>Family Phone</small>
                              <div class="text-lt font-bold">+32(0) 3003 234 543</div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-6 text-right"> <small>Reporter</small>
                              <div class="text-lt font-bold">Coch Jose</div>
                            </div>
                            <div class="col-xs-6"> <small>Manager</small>
                              <div class="text-lt font-bold">James Richo</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <footer class="panel-footer dk text-center no-border">
                        <div class="row pull-out">
                          <div class="col-xs-4">
                            <div class="padder-v"> <span class="m-b-xs h3 block text-white">245</span> <small class="text-muted">Followers</small> </div>
                          </div>
                          <div class="col-xs-4 dker">
                            <div class="padder-v"> <span class="m-b-xs h3 block text-white">55</span> <small class="text-muted">Following</small> </div>
                          </div>
                          <div class="col-xs-4">
                            <div class="padder-v"> <span class="m-b-xs h3 block text-white">2,035</span> <small class="text-muted">Tweets</small> </div>
                          </div>
                        </div>
                      </footer>
                    </section>
                  </div>
                </section>
              </section>
            </aside>
            <aside class="col-lg-4 b-l no-padder">
              <section class="vbox">
                <section class="scrollable">
                  <div class="wrapper">
                    <section class="panel panel-default">
                      <form>
                        <textarea class="form-control no-border" rows="3" placeholder="What are you doing..."></textarea>
                      </form>
                      <footer class="panel-footer bg-light lter">
                        <button class="btn btn-info pull-right btn-sm">POST</button>
                        <ul class="nav nav-pills nav-sm">
                          <li><a href="#"><i class="fa fa-camera text-muted"></i></a></li>
                          <li><a href="#"><i class="fa fa-video-camera text-muted"></i></a></li>
                        </ul>
                      </footer>
                    </section>
                    <section class="panel panel-default">
                      <h4 class="padder">Latest Tweets</h4>
                      <ul class="list-group">
                        <li class="list-group-item">
                          <p>Wellcome <a href="#" class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>
                          <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 minuts ago</small> </li>
                        <li class="list-group-item">
                          <p>Morbi nec <a href="#" class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                          <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 hour ago</small> </li>
                        <li class="list-group-item">
                          <p><a href="#" class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. </p>
                          <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 hours ago</small> </li>
                      </ul>
                    </section>
                    <section class="panel clearfix bg-info dk">
                      <div class="panel-body"> <a href="#" class="thumb pull-left m-r"> <img src="images/a0.jpg" class="img-circle b-a b-3x b-white"> </a>
                        <div class="clear"> <a href="#" class="text-info">@Mike Mcalidek <i class="fa fa-twitter"></i></a> <small class="block text-muted">2,415 followers / 225 tweets</small> <a href="#" class="btn btn-xs btn-info m-t-xs">Follow</a> </div>
                      </div>
                    </section>
                  </div>
                </section>
              </section>
            </aside>
          </section>
        </section>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>

<% else %>

    <div class="bg-primary dk intro">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="m-t-xl m-b-xl padder">
            <div class="h1 text-white font-thin l-h-2x">Realize Your Real Estate Dreams</div>
            <div class="carousel slide carousel-fade inline auto" data-interval="6000">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="h5 text-white font-thin l-h-2x">
                    ECM Real Estate Services is New York's premier private real estate lending source.
                    We provide private, hard money loans to professional real estate investors.
                    Our focus is funding non-owner occupied property for renovation and investment purposes.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="text-center m-b-xl"> <%= link_to "Start Your Application!", signup_path, class: "btn btn-lg btn-white b-2x b-white btn-rounded bg-empty m-sm" %> </p>
        </div>
      </div>
    </div>
<% end %>