<% if signed_in? %>
    <div class="row">
      <aside class="col-xs-6 col-md-5">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-xs-6 col-md-7">
        <div class="feed">
          <h3>News Feed</h3>
        </div>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to Sydster</h1>

      <h2>
        Share emotional communications with your social community
      </h2>

      <%= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>
    </div>
<% end %>